<% @team_number.times do %>
<% @hname = Faker::Superhero.name %>
<% @hpower = Faker::Superhero.power %>
<div class="card">
<div class="card-body">
        <div class="row">
            <div class="col-md-4">

            <% rand_num = rand(1..1000) %>
            <% set_num = rand(1..4) %>

            <% if set_num == 1 %>
                <% set = "set1" %>
            <% elsif set_num == 2 %>
                <% set = "set2" %>
            <% elsif set_num == 3 %>
                <% set = "set3" %>
            <% elsif set_num == 4 %>
                <% set = "set4" %>
            <% end %>

             <% @havatar = Faker::Avatar.image(slug: rand_num, size: "300x300", format: "png", set: set, bgset: "bg1") %>

            <h1>Your Superhero!</h1>
            <img src="<%= @havatar %>">
            <br/><br/>
            </div>
            <div class="col-md-4">
            <p class="test">your details:</p>
                <h3>Superhero name:<br/> 
                <span class="red"><%= @hname %></span>
            </h3> 
                <h3>Superhero power:<br/>
                <span class="red"><%= @hpower %></span>
            </h3> 
            <br/><br/>
            <%= form_tag home_create_path, method: 'POST' do %>
            <%= hidden_field_tag :name, @hname %>
            <%= hidden_field_tag :power, @hpower %>
            <%= hidden_field_tag :avatar, @havatar %>
            <%= submit_tag 'Save this hero', class: "btn btn-dark" %>
            <% end %>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
<div>
<% end %>