<br/>

<div class="card bg-bana">
    <div class="card-header">
        <%= link_to 'generate another hero', root_path, class: "btn btn-outline-warning"%>
    </div>
    <div class="card-body trans-card">
        <div class="row">
            <div class="col-md-4">
            <h1>Your Superhero!</h1>
            <img src="<%= @avatar %>">
            <br/><br/>
            </div>
            <div class="col-md-4">
            <p class="test">your details:</p>
                <h3>Superhero name:<br/> 
                <span class="red"><%= @name %></span>
            </h3> 
                <h3>Superhero power:<br/>
                <span class="red"><%= @power %></span>
            </h3> 

            <%= form_tag home_create_path, method: 'POST' do %>
            <%= hidden_field_tag :name, @name %>
            <%= hidden_field_tag :power, @power %>
            <%= hidden_field_tag :avatar, @avatar %>
            <%= submit_tag 'Save this hero', class: "btn btn-dark" %>
            <% end %>
    
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
